@model IEnumerable<CIT275_Back_end_interface.Models.FileLog>


    <table id="logTable" class="table table-striped table-hover tablesorter">
        <thead>
            <tr>
                <th>FileName</th>
                <th>FilePath</th>
                <th>ClientID</th>
                <th>AssetID</th>
                <th>Status</th>
                <th>DeleteInd</th>
                <th>Archived</th>
                <th>BaseDate</th>
                <th>CreateDate</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FilePath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssetID)
                    </td>
                    <td>
                        @formatStatus(@Html.DisplayFor(modelItem => item.Status).ToString())
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeleteInd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Archived)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="logOption dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-option-vertical"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right dropdownMenu">
                                <li>@Html.ActionLink("Edit", "Edit", new { id = item.ID })</li>
                                <li>@Html.ActionLink("Details", "Details", new { id = item.ID })</li>
                                <li>@Html.ActionLink("Delete", "Delete", new { id = item.ID })</li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <a class="logOption"><span class="glyphicon glyphicon-download-alt"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

<script type="text/javascript">
    /* SORTING */
    $(document).ready(function () {
        $("#logTable").tablesorter({
            headers: {
                5: {
                    sorter: false
                },
                6: {
                    sorter: false
                },
                9: {
                    sorter: false
                },
                10: {
                    sorter: false
                }
            }
        });
    });
</script>

@helper formatStatus(string s)
{
string labelFormat = "label-default";

switch (s)
{
    case "OK":
        labelFormat = "label-success";
        break;

    case "Processing":
        labelFormat = "label-warning";
        break;

    case "Created":
        labelFormat = "label-info";
        break;

    case "Error":
        labelFormat = "label-danger";
        break;
}

    <span class="label @labelFormat">@s</span>
}