@model CIT275_Back_end_interface.Controllers.FileLogsController.ClientLogExRef

@{
    ViewBag.Title = "Logs";
    Layout = "_FileLogLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 logSidebarLeft">
            <h2 class="sub-header">Clients</h2>

            @*@Html.Partial("ClientListView", new List<CIT275_Back_end_interface.Models.Client>())*@

            <ul>
                @foreach (var item in Model.Clients)
                {
                    <li><a>@Html.DisplayFor(modelItem => item.CompanyName)</a></li>
                }
            </ul>

        </div>

        <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 logMain">
            <h1 class="page-header">Log Files</h1>

            <h2 class="sub-header">{ClientName}</h2>

            <p> @Html.ActionLink("Create New", "Create") </p>
            <div class="table-responsive">
                <table id="logTable" class="table table-striped table-hover tablesorter">
                    <thead>
                        <tr>
                            <th>
                                @*@Html.DisplayNameFor(model => model.FileName)*@
                                FileName
                            </th>
                            <th>
                               @*@Html.DisplayNameFor(model => model.FilePath)*@
                                FilePath
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.ClientID)*@
                                ClientID
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.AssetID)*@
                                AssetID
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.Status)*@
                                Status
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.DeleteInd)*@
                                DeleteInd
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.Archived)*@
                                Archived
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.BaseDate)*@
                                BaseDate
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.CreateDate)*@
                                CreateDate
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.Filelogs)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FileName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FilePath)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClientID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AssetID)
                                </td>
                                <td>
                                    @formatStatus(@Html.DisplayFor(modelItem => item.Status).ToString())
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeleteInd)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Archived)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BaseDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateDate)
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a class="logOption dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="glyphicon glyphicon-option-vertical"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Edit", "Edit", new { id = item.ID })</li>
                                            <li>@Html.ActionLink("Details", "Details", new { id = item.ID })</li>
                                            <li>@Html.ActionLink("Delete", "Delete", new { id = item.ID })</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <a class="logOption"><span class="glyphicon glyphicon-download-alt"></span></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-sm-3 col-sm-offset-9 col-md-2 col-md-offset-10 logSidebarRight">
                <div>
                    <h2 class="sub-header">Log Details</h2>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>LogFileId</th>
                                <td>1</td>

                            </tr>
                            <tr>
                                <th>LogFileName</th>
                                <td>log1</td>
                            </tr>
                            <tr>
                                <th>LogFileDate</th>
                                <td>1/1/2017</td>

                            </tr>
                            <tr>
                                <th>LogFileSize</th>
                                <td>1kb</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p><a class="btn btn-success" href="~/FileLogs/Index">Download Log <span class="glyphicon glyphicon-download-alt"></span></a></p>
                <p><a class="btn btn-warning" href="~/FileLogs/Index">Archive Log</a></p>
            </div>

            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Interactive Aerial</p>
            </footer>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#logTable").tablesorter({
            headers: {
                5: {
                    sorter: false
                },
                6: {
                    sorter: false
                },
                9: {
                    sorter: false
                },
                10: {
                    sorter: false
                }
            }
        });
    });
</script>

@helper formatStatus(string s)
{
    string labelFormat = "label-default";

    switch (s)
    {
        case "OK":
            labelFormat = "label-success";
            break;

        case "Processing":
            labelFormat = "label-warning";
            break;

        case "Created":
            labelFormat = "label-info";
            break;

        case "Error":
            labelFormat = "label-danger";
            break;
    }

    <span class="label @labelFormat">@s</span>
}

