@model IEnumerable<CIT275_Back_end_interface.Models.FileLog>

@{
    ViewBag.Title = "Index";
    Layout = "_FileLogLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 logSidebar">
            <h2 class="sub-header">Clients</h2>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ClientID</th>
                            <th>ClientName</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Walter Corp.</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>RIP Inc.</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Corn</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 logMain">
            <h1 class="page-header">Log Files</h1>

            <h2 class="sub-header">{ClientName}</h2>

            <p> @Html.ActionLink("Create New", "Create") </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FileName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FilePath)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ClientID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AssetID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DeleteInd)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Archived)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BaseDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreateDate)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FileName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FilePath)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClientID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AssetID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeleteInd)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Archived)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BaseDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateDate)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Interactive Aerial</p>
            </footer>
        </div>
    </div>
</div>

@*@helper {

}*@